@use "../../scss/abstracts/mixins" as *;
@use "../../scss/abstracts/variables" as *;

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: max-content;
  padding: 0.3em 0 0.8em;
  background-color: map-get($colors, lighter-blue);
}

nav {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-weight: 700;

  @include mq-laptop-small() {
    padding: 1em 2em;
  }
}

.nav-logo {
  display: flex;
  gap: 0.5em;
  align-items: end;

  &-img {
    max-width: 25px;

    @include mq-laptop-small() {
      max-width: 40px;
    }
  }

  &-text {
    font-size: 1.1rem;

    @include mq-laptop-small() {
      font-size: 1.4rem;
    }
  }
}

.nav-links {
  @include centerXY();

  &-ul {
    display: none;

    @include mq-tablet() {
      @include flex-1emgap-align-center();
    }
  }

  &-link {
    font-size: 1.1rem;
    color: white;
    font-weight: 700;
    padding-bottom: 1em;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 0.5em;
    }
  }
}

.burger {
  @include mq-tablet() {
    display: none;
  }
}
