@import "./typography";
@import "../abstracts/variables";
@import "../abstracts/mixins";

body {
  background-color: map-get($colors, dark-blue);
  width: 100%;
}

main {
  min-height: 93vh;
  width: 100%;
  @include centerXY();
}
