@use "../../scss//abstracts/variables" as *;

.card {
  max-width: 200px;

  &-img {
    max-width: 100%;
    border-radius: 1.5em;
  }

  &-img:hover {
    box-shadow: map-get($colors, primary-fuchsia) 0px 10px 50px;
  }

  &-title {
    padding: 1em;

    // reset
    margin-block-start: 0;
    margin-block-end: 0;
  }
}
