@mixin centerXY() {
  display: grid;
  place-items: center;
}

@mixin flex-1emgap-align-center {
  display: flex;
  gap: 1em;
  align-items: center;
}

@mixin mq-tablet() {
  @media screen and (min-width: "768px") {
    @content;
  }
}

@mixin mq-laptop-small() {
  @media screen and (min-width: "1024px") {
    @content;
  }
}

@mixin mq-laptop-large() {
  @media screen and (min-width: "1438px") {
    @content;
  }
}

@mixin mq-laptop-x-large() {
  @media screen and (min-width: "1920px") {
    @content;
  }
}
