@mixin centerXY() {
  display: grid;
  place-items: center;
}

@mixin flex-1emgap-align-center {
  display: flex;
  gap: 1em;
  align-items: center;
}

@mixin mq-tablet() {
  @media screen and (min-width: "768px") {
    @content;
  }
}
