@use "../../scss/abstracts/mixins" as *;

.footer {
  width: 100%;
  bottom: 0;
  height: fit-content;

  @include centerXY();

  &-content {
    padding: 0.5em;
  }

  a:hover {
    text-decoration: underline;
    text-underline-offset: 0.3em;
  }
}
